/**
 * HTML - basic reset for main element styles
 */

/* box model: http://goo.gl/quQpCV */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-body);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.44;
}

svg path,
path {
  fill: inherit;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}
