/**
 * Site-wide variables
 */

:root {

  /* fonts */

  --font-headings: "Work Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  --font-body: "Work Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  /* font sizes */

  --font-size-normal: 1rem;
  --font-size-large: 1.5rem;

  /* colours */

  --colour-white: #fff;
  --colour-grey: #454545;
  --colour-black: #333;
  --colour-red: #ff4e00;
  --colour-green: #7ee19e;
  --colour-blue: #00bdff;

  /* transitions */

  --transition-time: 0.25s;

  /* Buttons & Forms */

  /* margins and spacing */

  --gutter-small: 0.5rem;
  --gutter: 1rem;
  --gutter-large: 2rem;

  /* content widths */

  --width-small: 25rem; /* 400px */
  --width-medium: 45rem; /* 720px */
  --width-large: 75rem; /* 1200px */

  /* media queries */

  @custom-media --small (min-width: 25rem);
  @custom-media --medium (min-width: 45rem);
  @custom-media --large (min-width: 75rem);
}
